<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body style="background-color: #3b5907; color: white">
<div class="container">
    <form class="form-signin" method="post" action="/login">
        <h1>Welcome to cinema app</h1>
        <h2 class="form-signin-heading">Please sign in</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required
                   autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <input name="_csrf" type="hidden" value="e4324b13-feee-4614-82b7-6b8dec3b79cc"/>
        <h1 th:text="${test}">Test</h1>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

    <h3>Login with:</h3>
    <p th:each="url : ${urls}">
        <a th:text="${url.key}" th:href="${url.value}">Client</a>
    </p>
</div>
</body>
</html>
