<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test PAGE</title>
</head>
<body>
<h1>Welcome B7. Please wake up!!!</h1>
<h2>My name is: <span th:text="${name}"></span></h2>
<img th:src="${imgUrl}" alt="">

<a href="/logout">Logout</a>
</body>
</html>
